.prose pre {
  @apply bg-gray-50;
}

.makeup .hll {background-color: #ffffcc}
.makeup {
  @apply font-mono;
}
.makeup .unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.makeup .bp {color: #a626a4; } /* :name_builtin_pseudo */
.makeup .c {color: #a0a1a7; } /* :comment */
.makeup .c1 {color: #a0a1a7; } /* :comment_single */
.makeup .ch {color: #a0a1a7; } /* :comment_hashbang */
.makeup .cm {color: #a0a1a7; } /* :comment_multiline */
.makeup .cp {color: #986801; } /* :comment_preproc */
.makeup .cpf {color: #986801; } /* :comment_preproc_file */
.makeup .cs {color: #a0a1a7; } /* :comment_special */
.makeup .dl {color: #c91243; } /* :string_delimiter */
.makeup .err {color: #000000; } /* :error */
.makeup .fm {color: #000000; } /* :name_function_magic */
.makeup .il {color: #0184bb; } /* :number_integer_long */
.makeup .k {color: #A90D91; } /* :keyword */
.makeup .kc {color: #A90D91; } /* :keyword_constant */
.makeup .kd {color: #A90D91; } /* :keyword_declaration */
.makeup .kn {color: #A90D91; } /* :keyword_namespace */
.makeup .kp {color: #A90D91; } /* :keyword_pseudo */
.makeup .kr {color: #A90D91; } /* :keyword_reserved */
.makeup .kt {color: #A90D91; } /* :keyword_type */
.makeup .l {color: #0184bb; } /* :literal */
.makeup .ld {color: #0184bb; } /* :literal_date */
.makeup .m {color: #0184bb; } /* :number */
.makeup .mb {color: #0184bb; } /* :number_bin */
.makeup .mf {color: #0184bb; } /* :number_float */
.makeup .mh {color: #0184bb; } /* :number_hex */
.makeup .mi {color: #0184bb; } /* :number_integer */
.makeup .mo {color: #0184bb; } /* :number_oct */
.makeup .n {color: #000000; } /* :name */
.makeup .na {color: #836C28; } /* :name_attribute */
.makeup .nb {color: #A90D91; } /* :name_builtin */
.makeup .nc {color: #4078f2; } /* :name_class */
.makeup .nd {color: #000000; } /* :name_decorator */
.makeup .ne {color: #000000; } /* :name_exception */
.makeup .nf {color: #000000; } /* :name_function */
.makeup .ni {color: #000000; } /* :name_entity */
.makeup .nl {color: #000000; } /* :name_label */
.makeup .nn {color: #000000; } /* :name_namespace */
.makeup .no {color: #000000; } /* :name_constant */
.makeup .nt {color: #000000; } /* :name_tag */
.makeup .nv {color: #000000; } /* :name_variable */
.makeup .nx {color: #000000; } /* :name_other */
.makeup .o {color: #000000; } /* :operator */
.makeup .ow {color: #000000; } /* :operator_word */
.makeup .py {color: #000000; } /* :name_property */
.makeup .s {color: #c91243; } /* :string */
.makeup .s1 {color: #c91243; } /* :string_single */
.makeup .s2 {color: #c91243; } /* :string_double */
.makeup .sa {color: #c91243; } /* :string_affix */
.makeup .sb {color: #c91243; } /* :string_backtick */
.makeup .sc {color: #2300CE; } /* :string_char */
.makeup .sd {color: #c91243; } /* :string_doc */
.makeup .se {color: #c91243; } /* :string_escape */
.makeup .sh {color: #c91243; } /* :string_heredoc */
.makeup .si {color: #c91243; } /* :string_interpol */
.makeup .sr {color: #c91243; } /* :string_regex */
.makeup .ss {color: #c91243; } /* :string_symbol */
.makeup .sx {color: #c91243; } /* :string_other */
.makeup .sx {color: #c91243; } /* :string_sigil */
.makeup .vc {color: #000000; } /* :name_variable_class */
.makeup .vg {color: #000000; } /* :name_variable_global */
.makeup .vi {color: #000000; } /* :name_variable_instance */
.makeup .vm {color: #000000; } /* :name_variable_magic */



/*

Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax

base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401

*/

.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #a626a4;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e45649;
}

.hljs-literal {
  color: #0184bb;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #50a14f;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #c18401;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #986801;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #4078f2;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}


/* DARK MODE */

.dark .makeup .hll {background-color: #49483e}
.dark .makeup {
  @apply font-mono;
  color: #f8f8f2;
  background-color: #272822
}
.dark .makeup .unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dark .makeup .bp {color: #f8f8f2; } /* :name_builtin_pseudo */
.dark .makeup .c {color: #75715e; } /* :comment */
.dark .makeup .c1 {color: #75715e; } /* :comment_single */
.dark .makeup .ch {color: #75715e; } /* :comment_hashbang */
.dark .makeup .cm {color: #75715e; } /* :comment_multiline */
.dark .makeup .cp {color: #75715e; } /* :comment_preproc */
.dark .makeup .cpf {color: #75715e; } /* :comment_preproc_file */
.dark .makeup .cs {color: #75715e; } /* :comment_special */
.dark .makeup .dl {color: #e6db74; } /* :string_delimiter */
.dark .makeup .err {color: #960050; background-color: #1e0010; } /* :error */
.dark .makeup .fm {color: #a6e22e; } /* :name_function_magic */
.dark .makeup .gd {color: #f92672; } /* :generic_deleted */
.dark .makeup .ge {font-style: italic; } /* :generic_emph */
.dark .makeup .gi {color: #a6e22e; } /* :generic_inserted */
.dark .makeup .gs {font-weight: bold; } /* :generic_strong */
.dark .makeup .gu {color: #75715e; } /* :generic_subheading */
.dark .makeup .il {color: #ae81ff; } /* :number_integer_long */
.dark .makeup .k {color: #66d9ef; } /* :keyword */
.dark .makeup .kc {color: #66d9ef; } /* :keyword_constant */
.dark .makeup .kd {color: #66d9ef; } /* :keyword_declaration */
.dark .makeup .kn {color: #f92672; } /* :keyword_namespace */
.dark .makeup .kp {color: #66d9ef; } /* :keyword_pseudo */
.dark .makeup .kr {color: #66d9ef; } /* :keyword_reserved */
.dark .makeup .kt {color: #66d9ef; } /* :keyword_type */
.dark .makeup .l {color: #ae81ff; } /* :literal */
.dark .makeup .ld {color: #ae81ff; } /* :literal_date */
.dark .makeup .m {color: #ae81ff; } /* :number */
.dark .makeup .mb {color: #ae81ff; } /* :number_bin */
.dark .makeup .mf {color: #ae81ff; } /* :number_float */
.dark .makeup .mh {color: #ae81ff; } /* :number_hex */
.dark .makeup .mi {color: #ae81ff; } /* :number_integer */
.dark .makeup .mo {color: #ae81ff; } /* :number_oct */
.dark .makeup .n {color: #f8f8f2; } /* :name */
.dark .makeup .na {color: #a6e22e; } /* :name_attribute */
.dark .makeup .nb {color: #f8f8f2; } /* :name_builtin */
.dark .makeup .nc {color: #a6e22e; } /* :name_class */
.dark .makeup .nd {color: #a6e22e; } /* :name_decorator */
.dark .makeup .ne {color: #a6e22e; } /* :name_exception */
.dark .makeup .nf {color: #a6e22e; } /* :name_function */
.dark .makeup .ni {color: #f8f8f2; } /* :name_entity */
.dark .makeup .nl {color: #f8f8f2; } /* :name_label */
.dark .makeup .nn {color: #f8f8f2; } /* :name_namespace */
.dark .makeup .no {color: #66d9ef; } /* :name_constant */
.dark .makeup .nt {color: #f92672; } /* :name_tag */
.dark .makeup .nv {color: #f8f8f2; } /* :name_variable */
.dark .makeup .nx {color: #a6e22e; } /* :name_other */
.dark .makeup .o {color: #f92672; } /* :operator */
.dark .makeup .ow {color: #f92672; } /* :operator_word */
.dark .makeup .p {color: #f8f8f2; } /* :punctuation */
.dark .makeup .py {color: #f8f8f2; } /* :name_property */
.dark .makeup .s {color: #e6db74; } /* :string */
.dark .makeup .s1 {color: #e6db74; } /* :string_single */
.dark .makeup .s2 {color: #e6db74; } /* :string_double */
.dark .makeup .sa {color: #e6db74; } /* :string_affix */
.dark .makeup .sb {color: #e6db74; } /* :string_backtick */
.dark .makeup .sc {color: #e6db74; } /* :string_char */
.dark .makeup .sd {color: #e6db74; } /* :string_doc */
.dark .makeup .se {color: #ae81ff; } /* :string_escape */
.dark .makeup .sh {color: #e6db74; } /* :string_heredoc */
.dark .makeup .si {color: #e6db74; } /* :string_interpol */
.dark .makeup .sr {color: #e6db74; } /* :string_regex */
.dark .makeup .ss {color: #e6db74; } /* :string_symbol */
.dark .makeup .sx {color: #e6db74; } /* :string_other */
.dark .makeup .sx {color: #e6db74; } /* :string_sigil */
.dark .makeup .vc {color: #f8f8f2; } /* :name_variable_class */
.dark .makeup .vg {color: #f8f8f2; } /* :name_variable_global */
.dark .makeup .vi {color: #f8f8f2; } /* :name_variable_instance */
.dark .makeup .vm {color: #f8f8f2; } /* :name_variable_magic */

.dark .hljs {
  @apply font-mono;
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #23241f;
}

.dark .hljs,
.dark .hljs-tag,
.dark .hljs-subst {
  color: #f8f8f2;
}

.dark .hljs-strong,
.dark .hljs-emphasis {
  color: #a8a8a2;
}

.dark .hljs-bullet,
.dark .hljs-quote,
.dark .hljs-number,
.dark .hljs-regexp,
.dark .hljs-literal,
.dark .hljs-link {
  color: #ae81ff;
}

.dark .hljs-code,
.dark .hljs-title,
.dark .hljs-section,
.dark .hljs-selector-class {
  color: #a6e22e;
}

.dark .hljs-strong {
  font-weight: bold;
}

.dark .hljs-emphasis {
  font-style: italic;
}

.dark .hljs-keyword,
.dark .hljs-selector-tag,
.dark .hljs-name,
.dark .hljs-attr {
  color: #f92672;
}

.dark .hljs-symbol,
.dark .hljs-attribute {
  color: #66d9ef;
}

.dark .hljs-params,
.dark .hljs-class .hljs-title {
  color: #f8f8f2;
}

.dark .hljs-string,
.dark .hljs-type,
.dark .hljs-built_in,
.dark .hljs-builtin-name,
.dark .hljs-selector-id,
.dark .hljs-selector-attr,
.dark .hljs-selector-pseudo,
.dark .hljs-addition,
.dark .hljs-variable,
.dark .hljs-template-variable {
  color: #e6db74;
}

.dark .hljs-comment,
.dark .hljs-deletion,
.dark .hljs-meta {
  color: #75715e;
}
