<link rel="apple-touch-icon" type="image/png" href={static_path(BernWeb.Endpoint, "/images/apple-touch-icon.png")} />
<link rel="apple-touch-icon" sizes="180x180" type="image/png" href={static_path(BernWeb.Endpoint, "/images/apple-touch-icon-180x180.png")} />
<link rel="icon" type="image/png" sizes="16x16" href={static_path(BernWeb.Endpoint, "/images/favicon-16x16.png")} />
<link rel="icon" type="image/png" sizes="32x32" href={static_path(BernWeb.Endpoint, "/images/favicon-32x32.png")} />
