<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0, shrink-to-fit=no" />
    <meta name="color-scheme" content="dark light" />
    <.icons />
    <meta name="csrf-token" content={get_csrf_token()} />
    <SEO.juice conn={@conn} config={BernWeb.SEO} item={SEO.item(@conn)} page_title={assigns[:page_title]} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script async defer phx-track-static type="text/javascript" src={~p"/assets/vendor.js"}>
    </script>
    <%= if Application.get_env(:bern, :app_env) == :prod do %>
      <script defer data-exclude="/admin/*" data-domain="bernheisel.com" src="https://plausible.io/js/script.js">
      </script>
    <% end %>
    <script>
      if (localStorage.theme === "dark" || (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
        document.documentElement.classList.add("dark")
        document.querySelector('meta[name="theme-color"]').setAttribute('content', 'rgb(17, 24, 39)')
      } else {
        document.documentElement.classList.remove("dark")
        document.querySelector('meta[name="theme-color"]').setAttribute('content', 'rgb(255, 255, 255)')
      }
    </script>
  </head>
  <body class="antialiased leading-tight bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100">
    <%= @inner_content %>
    <.footer />
  </body>
</html>
