<link rel="apple-touch-icon" type="image/png" href="<%= Routes.static_path(@conn, "/images/apple-touch-icon.png") %>">
<link rel="apple-touch-icon" sizes="180x180" type="image/png" href="<%= Routes.static_path(@conn, "/images/apple-touch-icon-180x180.png") %>">

<link rel="icon" type="image/png" sizes="16x16" href="<%= Routes.static_path(@conn, "/images/favicon-16x16.png") %>">
<link rel="icon" type="image/png" sizes="32x32" href="<%= Routes.static_path(@conn, "/images/favicon-32x32.png") %>">
