<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0, shrink-to-fit=no"/>
    <meta name="color-scheme" content="dark light">
    <%= BernWeb.SEO.meta(@conn, view_module(@conn), assigns) %>
    <link rel="canonical" href="https://bernheisel.com<%= Phoenix.Controller.current_path(@conn) %>" />
    <link rel="preload" type="font/woff2" as="font" href="<%= Routes.static_path(@conn, "/fonts/FiraCode-VF.woff2") %>" crossorigin="anonymous" />
    <link rel="preload" type="font/woff2" as="font" href="<%= Routes.static_path(@conn, "/fonts/Inter-roman.var.woff2") %>" crossorigin="anonymous" />
    <%= render "_icons.html", assigns %>
    <%= csrf_meta_tag() %>
    <%= seo_tags(assigns) %>
    <%= live_title_tag assigns[:page_title] || "Home", suffix: " · Bernheisel" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script async defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/vendor.js") %>"></script>
    <%= if Application.get_env(:bern, :app_env) == :prod do %>
      <script async defer data-exclude="/admin/*" data-domain="bernheisel.com" src="https://plausible.bernheisel.com/js/plausible.exclusions.js"></script>
      <link rel="dns-prefetch" href="https://plausible.bernheisel.com" />
    <% end %>
  </head>
  <body class="dark:bg-gray-900 dark:text-gray-100">
    <%= render "nav.html", assigns %>

    <div class="container mt-6 mx-auto px-4 sm:px-6 lg:px-8">
      <%= @inner_content %>
    </div>

    <%= render "footer.html", assigns %>
  </body>
</html>
